In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np

In [2]:
data = pd.read_csv('full_data.csv',encoding='cp949')

In [3]:
df = DataFrame(data)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df

       place_name tour_element         tour_element_name
0          해동 용궁사          음식점                     부엌우동집
1          해동 용궁사          음식점                      명품물회
2          해동 용궁사          음식점                  셰프뮤지엄718
3          해동 용궁사          음식점                     기장곰장어
4          해동 용궁사          음식점             셰프뮤지엄718 루이키친
...           ...          ...                       ...
55231  강화 고인돌 유적            쇼핑                   교원웰스정수기
55232  강화 고인돌 유적            쇼핑  강화유리(KCC)현관방충망창문베란다유리집시공
55233  강화 고인돌 유적            쇼핑           암막커텐롤스크린자바라출장상담
55234  강화 고인돌 유적            쇼핑                   교원웰스정수기
55235  강화 고인돌 유적            쇼핑                 청호울파공기청정기

[55236 rows x 3 columns]

In [6]:
print(df.shape)

(55236, 3)

In [20]:
# #문화유적지의 요소별로 count해라
grouped=df.groupby('tour_element')

In [21]:
pd.DataFrame(grouped)

      0                                                  1
0    공원         place_name tour_element tour_element_na...
1  관광명소         place_name tour_element tour_element_na...
2    교통         place_name tour_element tour_element_na...
3    쇼핑         place_name tour_element         tour_el...
4    숙소         place_name tour_element tour_element_na...
5    술집         place_name tour_element tour_element_na...
6   음식점         place_name tour_element tour_element_na...
7  주차시설         place_name tour_element     tour_elemen...
8    카페         place_name tour_element tour_element_na...
9   화장실         place_name tour_element tour_element_na...